{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Login</h1>
    <section class="login-form">
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
        <a href="{{ url_for('register') }}">Registre-se</a>
        <a href="{{ url_for('forgot_password') }}">Esqueceu a senha?</a>
    </section>
{% endblock %}
